@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


body{
    font-family: 'Nunito', sans-serif;
    margin-bottom: 100px;
}
.header {
  margin: auto;
  text-align: center;
}
.judul {
  color: #ff9700;
}
.bgr-warning{
  background: #ff9700;
}
.btn-get-started {
  background: rgba(255, 255, 255, 0.555);
  padding: 10px 20px;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
}
.btn-get-started:hover {
    color: white;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.btn-learn-more{
  background: #ff9700;
  padding: 10px 20px;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
}
.btn-learn-more:hover {
  color: white;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.professional {
  color: white;
  background: url(../images/professional-color.52ed9c3.png)
    no-repeat;
  background-size: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-left: 5px solid white;
  height: 160px;
}
.business {
  color: white;
  background: url(../images/business-color.0405803.png)
    no-repeat;
  background-size: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-left: 5px solid white;
  height: 160px;
}
.enterprise {
  color: white;
  background: url(../images/enterprise-color.965a38b.png)
    no-repeat;
  background-size: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-left: 5px solid white;
  height: 160px;
}
.bagian {
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-left: 3px solid white;
}
.card{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: none;
    padding: 24px;
    border-radius: 12px;
}
.card-marketing{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: none;
    padding: 24px;
    max-height: 60vh;
    overflow-y: scroll;
    border-radius: 12px;
}
.list-group-item{
    border: none;
}
.check{
    border-left: 1px solid #cccccc;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.form-control:focus{
  outline: none !important;
  border:1px solid #ff9700;;
  box-shadow: 0 0 10px #ff9700;;
}
.txt-features{
  width: 70%;
  margin: auto;
  padding: 12px 16px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

/* margin */
.SizeBox{
  margin-top: 100px;
}